.header-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #c54830;
  }
  .logo-seti {
    height: 80px;
    width: auto;
    display: block;
  }
}
.card {
  background: radial-gradient(at 78.65968675414689% 8.248620489546997%, hsla(193.7142857142857, 85.36585365853664%, 91.9607843137255%, 1) 0%, hsla(193.7142857142857, 85.36585365853664%, 91.9607843137255%, 0) 100%), radial-gradient(at 4.884921134410569% 78.07367104922291%, hsla(194.1176470588235, 91.89189189189192%, 85.49019607843138%, 1) 0%, hsla(194.1176470588235, 91.89189189189192%, 85.49019607843138%, 0) 100%), radial-gradient(at 75.10560700531937% 97.59738847021775%, hsla(188.2191780821918, 86.90476190476191%, 67.05882352941177%, 1) 0%, hsla(188.2191780821918, 86.90476190476191%, 67.05882352941177%, 0) 100%), radial-gradient(at 54.856931906788645% 90.28991503948424%, hsla(188.25, 96.77419354838709%, 48.62745098039216%, 1) 0%, hsla(188.25, 96.77419354838709%, 48.62745098039216%, 0) 100%), radial-gradient(at 16.34195848814326% 58.74831417991195%, hsla(188.25, 96.77419354838709%, 48.62745098039216%, 1) 0%, hsla(188.25, 96.77419354838709%, 48.62745098039216%, 0) 100%), radial-gradient(at 9.303078744593417% 81.35993542220605%, hsla(193.7142857142857, 85.36585365853664%, 91.9607843137255%, 1) 0%, hsla(193.7142857142857, 85.36585365853664%, 91.9607843137255%, 0) 100%), radial-gradient(at 52.012320812616686% 3.0433388586981414%, hsla(194.1176470588235, 91.89189189189192%, 85.49019607843138%, 1) 0%, hsla(194.1176470588235, 91.89189189189192%, 85.49019607843138%, 0) 100%), radial-gradient(at 70.39330396971015% 11.431858864623923%, hsla(188.2191780821918, 86.90476190476191%, 67.05882352941177%, 1) 0%, hsla(188.2191780821918, 86.90476190476191%, 67.05882352941177%, 0) 100%), radial-gradient(at 77.07694685388459% 69.60360433993034%, hsla(188.25, 96.77419354838709%, 48.62745098039216%, 1) 0%, hsla(188.25, 96.77419354838709%, 48.62745098039216%, 0) 100%);
  max-width: 720px;
  margin: 24px auto;
  padding: 16px;
  .full {
    width: 100%;
  }
  .buttons {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    flex-wrap: wrap;
  }
  .result {
    margin-top: 16px;
    .error {
      color: #da2647;
      font-weight: 600;
    }
    .ok {
      color: #2c9233;
      font-weight: 600;
    }
  }
}
